/fred/
/macro-economics/
/gerry-and-dan/
AutofillStates
BrowserMetrics-spare.pma
CertificateRevocation
component_crx_cache
Crowd Deny
Default
Dictionaries
FileTypePolicies
first_party_sets.db
first_party_sets.db-journal
FirstPartySetsPreloaded
First Run
GraphiteDawnCache
GrShaderCache
hyphen-data
Last Version
Local State
MEIPreload
NativeMessagingHosts
OnDeviceHeadSuggestModel
OptimizationHints
OriginTrials
PKIMetadata
PrivacySandboxAttestationsPreloaded
Safe Browsing
SafetyTips
segmentation_platform
ShaderCache
SingletonCookie
SingletonLock
SingletonSocket
SSLErrorAssistant
Subresource Filter
TpcdMetadata
TrustTokenKeyCommitments
Variations
WidevineCdm
ZxcvbnData
